* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		html {
		font: 1em Verdana, sans-serif;
		color: #333;
		}
		body{
			/*background-color: silver;*/
			background-image: url(../../pics/background.jpg);
		}
		p {
			margin-top: 1em;
			margin-bottom: 1em;
		}

		@font-face {
		src: url('fonts/Quicksand-Regular.ttf') format('truetype');
		font-family: ms;
		}

		#menu {
			position: fixed;
    	top: 0;
    	width: 100%;
		}

		#menu ul {
		background-color: #333;
		}
		#menu ul li {
		display: inline;
		}
		#menu ul li a {
		display: inline-block;
		padding: 1em 1.2em;
		color: #f2f2f2;
		text-decoration: none;
		}
		#menu ul li a:hover {
		background-color: #555;
		}
		#menu nav + div {
		display: none;
		}
		#content {
			padding: 5%;
			width: 70%;
			margin: auto;
			background-color: white;

			-webkit-box-shadow: 10px 10px 50px grey;
			-moz-box-shadow: 10px 10px 50px grey;
			box-shadow: 10px 10px 50px grey;
		}
		#EingabeForm {
			padding-right: 5em;
		}
		form * {
			margin-top: 1em;
		}
		#formular {
			display: flex;
			flex-direction: row;
			padding-top: 3em;
		}
		#blog {
			margin-top: 3em;
		}
		h1 {
			margin-bottom: 2em;
			margin-top: 1em;
			font-size: 2em;
			font-weight:lighter;
		}

		input[type=text], textarea {
		  display: inline-block;
		  padding: 10px;
		  box-sizing: border-box;
		  background-color: rgba(0,0,0,0.10);
		  border: none;
		}
		input[type=submit], input[type=reset] {
  		color: black;
  		display: inline-block;
  		border: none;
  		padding: 5px;
  		font-size: 1.1em;
		}
